@font-face {
    font-family: 'AviciiFont';
    src: url(fonts/avicii.ttf);
}
a:focus, button:focus {
	outline: none;
}
a {
	color: rgba(255,255,244,1);
	text-decoration: none !important;
}
a:hover, a:focus {
	color: #e5e5e5;
}
html, body {
	font-family: 'Open Sans', sans-serif;
	background-color: rgba(0,0,0,1);
	color: rgba(255,255,255,1);
}
.social-icon {
	color: rgba(255,255,255,1);
	font-size: 20px;
	cursor: pointer;
}
.msg-section {
	font-weight: 400;
	font-size: 20px;
	text-align: center;
	padding: 15px;
	margin-top: 15px;
}
.contact-section {
	padding: 20px;
	margin-top: 15px;
	text-align: center;
}
.omk_ar_pita {
    opacity: 0.5;
    width: 100%;
    display: block;
    height: 100%;
}
.omk_ar_pita img{
	width: 100%;
	height: auto;
	margin-top: 10px;
	margin-bottom: 10px;
}
.true_logo {
	width: 24px;
}
.footer {
	padding: 15px;
	margin-top: 15px;
}
.landing-card {
	flex-basis: none!important;
	flex-grow: 0!important;
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	cursor: pointer;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
}

@media (min-width: 320px) {
  .landing-card {
   	height: 150px;
	width: 150px;
  }
  .card-title {
  	font-size: 1.4rem;
  }
}

@media (min-width: 576px) {
  .landing-card {
   	height: 300px;
	width: 300px;
  }
  .card-title {
  	font-size: 2rem;
  }
}

@media (min-width: 768px) {
  .landing-card {
   	height: 200px;
	width: 200px;
  }
  .card-title {
  	font-size: 2rem;
  }
}

@media (min-width: 992px) {
  .landing-card {
   	height: 260px;
	width: 260px;
  }
}

@media (min-width: 1200px) {
  .landing-card {
   	height: 300px;
	width: 300px;
  }
}
.landing-card:hover {
	opacity: 0.8;
}
.home {
	opacity: 0.6;
	background-image: url('../../images/home_bg.jpg');
}
.about {
	opacity: 0.5;
	background-image: url('../../images/about_bg.jpg');
}
.cp {
	opacity: 0.6;
	background-image: url('../../images/stories_bg.jpg');
}
.ai {
	opacity: 0.5;
	background-image: url('../../images/ai_bg.jpg');
}
.card-title {
	font-family: 'AviciiFont';
	opacity: 1 !important;
	text-align: center;
	margin-top: 40%;
	font-weight: 100;
}
.topgap {
	margin-top: 30px;
}
.av-font {
	font-family: 'AviciiFont';
}